:root {
  --container-spacing: 1rem;
  --section-spacing: 1.5rem;

  --primary-bg-color: #9792e4;
  --secondary-bg-color: #0084fd;
  --footer-bg-color: #333333;

  --card-bg: #b5ddff;
}

/* ## RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ## GRID */

.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-spacing);
  padding-right: var(--container-spacing);
}

.row {
  margin: 0 calc(-1 * var(--container-spacing));

  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: var(--container-spacing);
}

/* ## UTILS */

section {
  margin-top: var(--section-spacing);
  margin-bottom: var(--section-spacing);
}

.btn {
  border: none;
  border-radius: 15px;

  background-color: white;
  padding: 0.5rem 0.8rem;
}

/* ## HEADER */

#header {
  background-color: var(--secondary-bg-color);
  color: white;
  padding-top: 0.6rem;
  padding-bottom: 1rem;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  height: 35px;
}

.header-nav,
.header-nav-desktop {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-nav-small {
  font-size: 1.4rem;
  display: none;
}

.header-nav li {
  margin-left: 20px;
}

/* ## DEMO APP */

#demo-app .col:first-child {
  width: calc(100% / 3 * 2);
  text-align: left;
}

#demo-app .col {
  width: calc(100% / 3);
}

#demo-app .col:first-child p {
  margin-bottom: 1rem;
}

#demo-app .col:first-child .btn {
  background-color: var(--secondary-bg-color);
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

#demo-app .col:first-child img {
  width: 65%;
}

#demo-app .card .col:last-child {
  padding-top: 50px;
}

#demo-app .col:first-child i {
  font-size: 1rem;
  color: white;

  margin-right: 0.5rem;
  margin-bottom: 0;
}

#demo-app .card {
  height: 100%;
  background-color: var(--card-bg);

  color: #617789;
  text-align: center;

  border-radius: 20px;

  padding: 1.5rem 1rem 0 1rem;
  /* debug */
  min-height: 200px;
}

#demo-app .card .col {
  width: 50%;
  padding-top: 0;
  padding-bottom: 0;
}

#demo-app .card i,
#demo-app .card h2 {
  color: #0084fd;
  margin-bottom: 1rem;
}

#demo-app .card h2 {
  font-size: 1.2rem;
}

#demo-app .card i {
  font-size: 4rem;
}

#demo-app .card > p {
  padding-bottom: 1.5rem;
}

/* ## STRATEGIC PLANNING */

#strategic-planning {
  background-color: var(--primary-bg-color);
}

#strategic-planning > .container {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* debug */
  min-height: 300px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#strategic-planning .col-left,
#strategic-planning .col-right {
  /* debug */
  background-color: antiquewhite;
  min-width: 200px;
  margin: 0 1rem;
  padding: 1rem;
}

/* ## TESTIMONIALS */

.testimonials-content {
  text-align: center;
}

.testimonials-card {
  display: flex;
  background-color: var(--primary-bg-color);

  margin-top: 2rem;
  margin-bottom: 2rem;

  /* debug */
  padding: 1rem;
}

.testimonials-card-img {
  width: 20%;
}

.testimonials-card-content {
  width: 80%;
}

.testimonials-card-img,
.testimonials-card-content {
  padding: 1rem;
}

/* ## BENEFITS */

#benefits {
  background-color: var(--primary-bg-color);
}

.benefits-title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#benefits .col {
  width: calc(100% / 3);
}

#benefits .card {
  background-color: white;
  padding: 1rem;

  /* debug */
  min-height: 200px;
}

/* ## ABOUT US */

#about-us > .container {
  display: flex;

  /* debug */
  border: 1px dashed black;
  min-height: 300px;
}

.about-us-left {
  width: 70%;
  padding: 2rem;
}

.about-us-right {
  width: 30%;
  text-align: center;
  padding: 2rem;
}

/* ## FOOTER */

footer {
  background-color: var(--footer-bg-color);

  /* debug */
  text-align: center;
}

#footer {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
}

/* ## FOOTER MAIN CONTENT */

#footer-main-content {
  background-color: var(--primary-bg-color);
  margin-bottom: 0;
  padding: 1rem;
}

/* ## MEDIA QUERY */

/* ## MEDIA TABLET */

@media screen and (max-width: 768px) {
  /* header */
  .header-nav-desktop {
    display: none;
  }

  .header-nav-small {
    display: flex;
  }

  /* demo app */
  #demo-app .card .col {
    width: 100%;
  }

  #demo-app .col:first-child img {
    margin-top: 1rem;
  }

  #demo-app .card .col:last-child {
    padding-top: 20px;
  }

  /* strategic planning */
  #strategic-planning > .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #strategic-planning .col-left,
  #strategic-planning .col-right {
    width: 100%;
  }

  /* benefits */
  #benefits .col {
    width: 50%;
  }
}

/* ## MEDIA SMARTPHONE */

@media screen and (max-width: 480px) {
  /* demo app */
  #demo-app .col:first-child,
  #demo-app .col {
    width: 100%;
  }

  #demo-app .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #demo-app .col:first-child img {
    width: 100%;
  }

  /* testimonials */
  .testimonials-card {
    flex-direction: column;
    align-items: center;
  }

  .testimonials-card-content,
  .testimonials-card-img {
    width: 100%;
    text-align: center;
  }

  /* benefits */
  #benefits .col {
    width: 100%;
  }

  /* about-us */
  #about-us > .container {
    flex-direction: column;
  }

  .about-us-left,
  .about-us-right {
    width: 100%;
  }

  .about-us-right {
    text-align: left;
  }
}
